body {
  background: green;
}

.App {
  text-align: center;
}

button {
  color: white;
  background: #585858;
  width: 150px;
  height: 50px;
  margin: 20px 0 90px 0;
  border-radius: 13px;
  border: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
